@import 'https://fonts.googleapis.com/css?family=Allerta+Stencil|Roboto+Mono';

html, body {
  background: #333;  	
  margin: 0;
	text-align: center;
	text-transform: uppercase;
	background-position: center;
  font-family: 'Allerta Stencil', sans-serif;
}

h1 {
	color: #fff;
	font-size: 68px;
	font-size: 5.5vw;
	width: 100%;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 8px;
}
h1 span:nth-child(6) {
  margin-right: 30px;
}
h2 {
	font-weight: 500;
	font-size: 27px;
	font-size: 2vw;
	margin: 0 auto;
	color: #fff;
	width: 100%;
	text-align: center;
}

ul {
	list-style: none;
	display: block;
}

a {
	color: #fd3267;
}

.wrapper {
  margin-top: 100px;
	min-height: 500px;
}

.logo {
	text-align: center;
	width: 100%;
}

ul.countdown {
	margin-top: 40px;
	text-align: center;
	padding: 0;
	margin-bottom: 0;
	width: 100%;
}
ul.countdown li {
	display: inline-block;
	margin-right: 3%;
	text-align: center;
}
ul.countdown li span {
	font-size: 72px;
	font-size: 5.8vw;
	width: 150px;
	letter-spacing: 5px;
	font-weight: 300;
	color: #fff;
}
ul.countdown li p {
	font-size: 14px;
	margin-bottom: 0;
}
ul.countdown li:last-child {
	margin-right: 0;
}

.days_ref { color: #2ECC71 }
.hours_ref { color: #fd3267 }
.minutes_ref { color: #9B59B6 }
.seconds_ref { color: #3498DB }

form {
	text-align: center;
	width: 100%;
	margin-top: 60px;
}

form input[type="text"] {
	width: 22%;
	padding: 16px;
	font-size: 0.85em;
	color: #fff;
	outline: none;
	font-weight: 600;
	background: none;
	border: 1px solid#FFFFFF;
	-webkit-transition: border-color 0.5s;
	transition: border-color 0.5s;
}

form input[type="text"]:focus{
	background: rgba(255,255,255, 0.3);
}

form input[type="submit"] {
	border: 1px solid #FD3267;
	padding: 16px 16px;
	font-size: 0.85em;
	-webkit-transition: 0.5s all;
	transition: 0.5s all;
	background: none;
	color: #FD3267;
	outline: none;
	cursor: pointer;
	margin-left: 15px;
}

form input[type="submit"]:hover {
	border: 1px solid #D11250;
	color: #D11250;
}

@media screen and (max-width: 500px) {
	h2 {
		font-size: 3.5vw
	}
}